<div class="container-fluid text-center" style="background-color: #b7ffdb;">
  <div class="row pt-4 justify-content-center">
    <div class="col">
      <%= link_to "にゅーぶい！とは", about_pages_path, class: "mx-5 link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-50-hover" %>
      <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSc_RT8RwfRMCixRfXBd9sxB9qgpOWZntDYnoYndnw787_EeaQ/viewform?usp=sf_link", class: "mx-5 link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-50-hover", target: :_blank, rel: "noopener noreferrer"%>
      <%= link_to "利用規約", terms_pages_path, class: "mx-5 link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-50-hover" %>
      <%= link_to "プライバシーポリシー", privacy_policy_pages_path, class: "mx-5 link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-50-hover" %>
    </div>
  </div>
  <div class="row pt-4 pb-3">
    <div class="col">
      <small>© 2024 NewVtuber</small>
    </div>
  </div>
</div>