<div class="container">
  <div class="row mt-5 text-center">
    <% if @vtubers.present? %>
      <% @vtubers.each do |vtuber| %>
        <div class="col">
          <%= link_to show_path(vtuber.id), class: "text-decoration-none" do %>
            <%= image_tag vtuber.image.url, class: "rounded-circle border border-dark", size: "250x250" %>
            <p class="mb-5 fs-1 text-body"><%= vtuber.name %></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="col">
        条件に合うVTuberは登録されていません
      </div>
    <% end %>
  </div>

  <div class="row my-5 pb-5">
    <div class="col d-flex justify-content-center mt-5 pb-5">
      <%= paginate @vtubers, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
